<a href="https://colab.research.google.com/github/yojulab/study_data_analytics/blob/main/docs/pandas/01_pandas_Serises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## colab 사용법
- 실행 셀 순서가 변수 값 적용 많은 영향

In [ ]:
number = 5

In [ ]:
number = 10

In [ ]:
number

5

In [ ]:
import pandas as pd

## pandas

###Series (시리즈) = index + value
- 단일 변수

In [ ]:
list = [4, 5, -3, 8]
series_numbers = pd.Series(list)   # = pd.Series([4, 5, -3, 8])

In [ ]:
series_numbers, type(series_numbers)  # Serise

(0    4
 1    5
 2   -3
 3    8
 dtype: int64,
 pandas.core.series.Series)

In [ ]:
series_numbers.index, series_numbers.values, series_numbers.shape, series_numbers.dtype

(RangeIndex(start=0, stop=4, step=1),
 array([ 4,  5, -3,  8]),
 (4,),
 dtype('int64'))

In [ ]:
list, type(list)  # python list

([4, 5, -3, 8], list)

In [ ]:
pd.Series(['과자','음료','아이스크림','사탕'], index=['a', 'b', 'd', 'z'])

a       과자
b       음료
d    아이스크림
z       사탕
dtype: object

In [ ]:
series_first = pd.Series([1,2,3,4])
series_second = pd.Series([5,6,7,8])

In [ ]:
series_first + series_second

0     6
1     8
2    10
3    12
dtype: int64

In [ ]:
result = series_first * series_second

In [ ]:
result, type(result)

(0     5
 1    12
 2    21
 3    32
 dtype: int64,
 pandas.core.series.Series)

In [ ]:
result.unique(), result.value_counts()